<div class = "container">
  <div class = "row">
    <div class = "mx-auto">
      <h1>皆様の愚痴</h1><br><br>
      <%= link_to "愚痴の間", room_complaints_path, class: "btn btn-primary" %>はこちらから
    </div>
    <div class = "mx-auto timeline">

      <% @complaints.each do |c| %>
        <div class = "card mx-auto text-center shadow-lg">
          <p><%= attachment_image_tag c.user, :profile_image, size:'100x100', fallback: "no_image.jpg" %></p>
          <p><%= c.user.name %></p>
          <p><%= c.title %></p>
          <p><%= c.body %></p>
        </div>
        <% end %>

        <%= paginate @complaints %>

    </div>
  </div>
</div>
