<div class = "container">
  <div class = "row complaint-room">
    <div class = "mx-auto mt-5">
      <h1><strong>愚痴の間</strong></h1><br><br>
      <p>思いを吐き出して落ち着きましょう</p><br><br>
      <p>共感できる投稿にはボタンを押してましょう</p><br><br>
      <p>投稿はスクロールできます</p>
    </div>
    <div class = "mx-auto text-center timeline">

      <% @complaints.each do |c| %>

      <div class = "card mx-auto shadow-lg">
        <table>
          <tr>
            <p><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", format: 'no_image.jpg' %></p>
            <p><%= c.user.name %></p>
          </tr>
        </table>

        <br>
        <tr>
          <p><%= c.title %></p>
          <p><%= c.body %></p>
          <% if @user_id = current_user.id %>
            <%= link_to "削除", complaint_path(c.id), method: :delete %>
          <% end %>
      　</tr>

        <!--非同期通信部分テンプレート-->
        <div id = "c_<%= c.id %>">
          <div class = "cheer-btn"><%= render "cheers/cheer-btn", c: c %></div>
        </div>

      </div>
      <% end %>

      <%= paginate @complaints %>
    </div>
    </div>
  </div>
