<div class = "container">
  <div class = "row complaint-room">
    <div class = "mx-auto mt-3 complaint-text">
      <h1><strong>愚痴の間<i class="far fa-tired"></i></strong></h1><br><br>
      <p>思いを吐き出して落ち着きましょう</p><br><br>
      <p>共感できる投稿にはボタンを押してみましょう</p><br><br>
      <p>投稿はスクロールできます</p>

      <br><br>
        <!--ソート機能-->
        <h3>投稿を並び替える<i class="fas fa-exchange-alt"></i></h3>
        <p><%= sort_link(@q, :user_name, "名前順") %></p>
        <p><%= sort_link(@q, :created_at, "投稿順") %></p>
     </div>

    <!--投稿一覧表示-->
    <div class = "mx-auto timeline">

      <% @complaints.each do |complaint| %>

      <div class = "card shadow-lg complaint-tweet">
        <table>
          <tr>
            <p><%= attachment_image_tag complaint.user, :profile_image, size:'80x80', fallback: "no_image.jpg" %></p>
            <p><%= complaint.user.name %></p>
          </tr>
        </table>

        <br>
        <tr>
          <p><%= complaint.title %></p>
          <p><%= complaint.body %></p>
          <p><%= complaint.created_at %></p>
      　</tr>

        <!--非同期通信部分テンプレート-->
        <div id = "complaint_<%= complaint.id %>">
          <div class = "cheer-btn"><%= render "cheers/cheer-btn", complaint: complaint %></div>
        </div>
        <%= link_to "詳細へ", complaint_path(complaint.id) %>

      </div>
      <% end %>
      <%= paginate @complaints %>
    </div>
    </div>
  </div>
