<div class = "container">
  <div class = "row">
    <div class = "mx-auto">
      <h1><strong>愚痴の間</strong></h1><br><br>
      <p>思いを吐き出して落ち着きましょう</p><br><br>
      <p>共感できる投稿にはボタンを押してましょう</p><br><br>
      <p>投稿はスクロールできます</p>
    </div>
    <div class = "mx-auto timeline">

      <% @complaints.each do |c| %>

      <div class = "card mx-auto shadow-lg">
        <table>
          <tr>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg" %></td>
            <td><%= c.user.name %></td>
          </tr>
        </table>


        <tr>
          <p><%= c.title %></p>
          <p><%= c.body %></p>
          <%= link_to "削除", complaint_path(c.id), method: :delete %>
      　</tr>

        <!--非同期通信部分テンプレート-->
        <div id = "c_<%= c.id %>">
          <div class = "cheer-btn"><%= render "cheers/cheer-btn", c: c %></div>
        </div>

      </div>
      <% end %>

      <%= paginate @complaints %>
    </div>
    </div>
  </div>
