<div class = "container">

    <div class = "row mx-auto text-center">
      <h2 class = "mx-auto text-center detail-text">投稿詳細</h2><br><br>
    </div>
    <div class = "card w-50 mx-auto text-center mt-4 shadow-lg">
         <table>
          <tr>
            <p><%= attachment_image_tag @complaint.user, :profile_image, size:'80x80', fallback: "no_image.jpg" %></p>
            <p><%= @complaint.user.name %></p>
          </tr>
        </table>

        <tr>
          <td><%= @complaint.title %></td>
          <td><%= @complaint.body %></td>
          <% if @complaint.user_id == current_user.id %>
            <%= link_to "削除", complaint_path(@complaint.id), class: "btn btn-danger col-xs-5", method: :delete, data: {confirm: "削除しますか？"} %>
          <% end %>
        </tr>
    </div>

  </div>
