<div class = "conainer">
  <div class = "row">
     <h2 class="header-background col-xs-3 col-xs-offset-2">登録情報編集</h2>
  </div>
  
  <%= form_with model:@user, url:user_path(@user), local:true do |f| %>
  <div class = "row">
    <div class = "col-xs-2 col-xs-offset-2">
      <%= f.label :"お名前(ニックネーム)", class: "col-xs-4" %>
      <%= f.text_field :name %>
    </div>
    <div class = "col-xs-3 col-xs-offset-1">
      <%= f.label :"メールアドレス", class: "col-xs-4" %>
      <%= f.text_field :email %>
    </div> 
    <%= f.submit "変更する" %>
    <% end %>
  </div>
</div>