<!--いいね機能(愚痴)-->
    <% if c.cheered_by?(current_user) %>
    <table>
      <tr>
      <td><%= button_to c.cheers.count, cheer_path(c), method: :delete, remote: true %>お疲れ様！</td>
      <td><%= button_to c.cheers.count, cheer_path(c), method: :delete, remote: true %>めっちゃ分かる！</td>
      <td><%= button_to c.cheers.count, cheer_path(c), method: :delete, remote: true %>元気出して！</td>
      <td><%= button_to c.cheers.count, cheer_path(c), method: :delete, remote: true %>忘れよう！</td>
      </tr>
    </table>

    <% else %>
    <table>
      <tr>
      <td><%= button_to c.cheers.count, cheers_path(complaint_id: c.id), method: :post, remote: true %>お疲れ様！</td>
      <td><%= button_to c.cheers.count, cheers_path(complaint_id: c.id), method: :post, remote: true %>めっちゃ分かる！</td>
      <td><%= button_to c.cheers.count, cheers_path(complaint_id: c.id), method: :post, remote: true %>元気出して！</td>
      <td><%= button_to c.cheers.count, cheers_path(complaint_id: c.id), method: :post, remote: true %>忘れよう！</td>
      </tr>
    </table>

    <% end %>