<div class = "container">
  <div class = "row">
    <div class = "mx-auto text-center post-index">
      <h1>皆様の良かったこと</h1><br><br>
      <%= link_to "ポジティブの間", space_good_things_path, class: "btn btn-primary" %>はこちらから
      <p>(いいねボタン,投稿並び替えはポジティブの間へお越しください)</p>
      <h4 class = "famous-saying">
        <% famous = ['笑うことだけが人間に許された唯一の特権　by松本人志',
                    '少し悲しくないと面白くないんかもしれへんな　by松本人志',
                    '人を信じよ、しかし、その百倍も自らを信じよ　by手塚治虫',
                    '心配事の９８％は、取り越し苦労だ　by藤村正宏'] %>
        <%= famous[rand(0...famous.count)] %>
      </h4>
    </div>

    <div class = "mx-auto timeline">

      <% @good_things.each do |gt| %>
        <div class = "card mx-auto text-center shadow-lg">
          <p><%= attachment_image_tag @user, :profile_image, size:'80x80', fallback: "no_image.jpg" %></p>
          <p><%= gt.user.name %></p>
          <p><%= gt.title %></p>
          <p><%= gt.body %></p>
        </div>
        <% end %>
        <%= paginate @good_things %>

    </div>
  </div>
</div>