  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class = "navbar-header">

	      <!--左寄せ-->
	       <div class = "navbar-left">
	        <%= link_to root_path do %>
	          <h2 class = "app-name">Share Diary</h2>
	        <% end %>
	       </div>

        <div>
          <ul class = "navbar-right">

            <% if user_signed_in? %>

              <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class = "fas fa-sign-out-alt"></i>
                ログアウト
              <% end %>
              </li>
              <li><%= link_to about_path do %>
                <i class = "fas fa-link"></i>
                Share Diaryとは？
              <% end %>
              </li>
              <li><%= link_to root_path do %>
                <i class = "fas fa-home"></i>
                トップへ
              <% end %>
              </li>
              <li><%= link_to user_path(current_user) do %>
                <i class = "fas fa-address-book"></i>
                マイページ
              <% end %>
              </li>
            <% else %>
              <li><%= link_to new_user_registration_path do %>
                <i class = "fas fa-user-plus"></i>
                新規登録
              <% end %>
              </li>
              <li><%= link_to new_user_session_path do %>
                <i class = "fas fa-sign-in-alt"></i>
                ログイン
              <% end %>
              </li>
              <li><%= link_to about_path do %>
                <i class = "fas fa-link"></i>
                Share Diaryとは？
              <% end %>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>
  </nav>