  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class = "navbar-header">

	      <!--左寄せ-->
	       <div class = "navbar-left">
	        <%= link_to root_path do %>
	          <h2 class = "app-name">Share Diary</h2>
	        <% end %>
	       </div>

        <div>
          <ul class = "navbar-right">

            <% if user_signed_in? %>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "fas fa-sign-out-alt" %></li>
              <li><%= link_to "Share Diaryとは？", about_path, :class => "fas fa-link nav-link" %></li>
              <li><%= link_to "トップへ", root_path, :class => "fas fa-home" %></li>
              <li><%= link_to "マイページ", user_path(current_user), :class => "fas fa-address-book" %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path, :class => "fas fa-user-plus" %></li>
              <li><%= link_to "ログイン",  new_user_session_path, :class => "fas fa-sign-in-alt" %></li>
              <li><%= link_to "Share Diaryとは？", about_path, :class => "fas fa-link nav-link" %></li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>
  </nav>