  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class = "navbar-header">
	      
	      <!--左寄せ-->
	       <div class = "navbar-left">
	        <%= link_to root_path do %>
	          <h2 class = "app-name">ぐちった〜</h2>
	        <% end %>
	       </div>
	       
        <div class= "navbar-right">
          <ul class = "navbar-right nav navbar-nav">
          
            <% if user_signed_in? %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "ぐちった〜とは？", about_path %></li>
            <li><%= link_to "トップへ", root_path %></li>
            <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン",  new_user_session_path %></li>
            <li><%= link_to "ぐちった〜とは？", about_path %></li>
            <% end %>
          
          </ul>
        </div>
      </div>
    </div>
  </nav>